<% layout("layouts/boilerplate")%>

<link rel="stylesheet" href="/css/starbility-slot.css">
<link rel="stylesheet" href="/css/cards.css">
<!-- pt map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<style>
    #mapid{
        height: 300px;
    }
</style>




<div class="row">

    <!-- RESTAURANT -->
    <!-- IMAGE  carousel -->
    <div class="col-6">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <% restaurant.images.forEach((img, i)=> { %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>" aria-current="true" aria-label="Slide 1"></button>
                <% }) %>

            </div>
            <div class="carousel-inner">
                <% if(restaurant.images.length > 0){ restaurant.images.forEach((img, i) => { %>
                    <div class="carousel-item <%= i == 0 ? 'active' : '' %> ">
                        <img class="d-block w-100 show-page-card" src="<%= img.url %>" alt="First slide">
                    </div>
                <% }) } else { %>
                <div class="carousel-item active">
                    <img class="d-block w-100 customWW" src="<%= restaurant.defaultImage %>" alt="First slidesss">
                </div>
                <% } %> 
            </div>
            <% if(restaurant.images.length > 1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %> 
        </div>
        <!-- About -->
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">
                    <%= restaurant.title %>
                </h5>
                <p class="card-text">
                    <%= restaurant.description %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= restaurant.location %>
                </li>
                <li class="list-group-item">
                    <%= restaurant.price %>
                </li>
                <li class="list-group-item">
                    Published by: <%= restaurant.author.username %>
                </li>
            </ul>
            <% if(currentUser && restaurant.author.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a href="/restaurants/<%=restaurant.id%>/edit" class="card-link btn btn-warning">Edit
                        Restaurant</a>
                    <form class="d-inline" action="/restaurants/<%=restaurant._id%>?_method=DELETE" method="POST">
                        <button class=" btn btn-danger">Delete Restaurant</button>
                    </form>
                </div>
                <% } %>
                    <!-- date -->
                    <div class="card-footer">
                        <!-- <small class="text-muted">Created at: <%= restaurant.created_at %> </small> -->
                        <small class="text-muted">Last update: <%=  restaurant.updatedAt.toString().slice(0, 25) %></small>
                    </div>
        </div>

        <!-- map -->
        <div id="mapid" class="mb-5 rounded">
            <span id="latitude"><%= location[0].latitude %></span>
            <span id="longitude"><%= location[0].longitude %></span>
        </div>

    </div>
    <!-- REVIEW -->
    <div class="col-6">
        <% if(currentUser) { %>
            <h2>Leave a Review!</h2>
            <form action="/restaurants/<%= restaurant.id %>/reviews" class="mb-5 validated-form" method="POST"
                novalidate>
                <!-- STARS -->
                <div class="mb-3">
                    <fieldset class="starability-slot">
                        <h5>Leave a rating:</h5>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                            checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" checked />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <!-- BODY -->
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="" cols="30" rows="2" id="body"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% } %>
                <% for(let review of restaurant.reviews) { %>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= review.author.username %>
                                <p class="starability-result float-end" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating %> stars
                                </p>
                            </h5>
                            <!-- <h5 class="card-title">Rating: <%= review.rating %></h5> -->
                            
                            <p class="card-text"> <span class="lead"> Review:  </span>  <%= review.body %>
                            </p>

                            <% if(currentUser && review.author.equals(currentUser._id)){ %>

                                <form
                                    action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                <% } %>
                        </div>
                    </div>
                    <% } %>
                    
    </div>
</div>
<script src="/js/map.js"></script>




